*{
margin:0px;
padding:0px;
}
@font-face{
src:url('../fonts/nlp.ttf');
font-family:'nlp';
}
@font-face{
src:url('../font/ProximaNova-Light.eot#iefix') format('embedded-opentype');
src:url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.woff2') format('woff2');
font-family:'ProximaNovaLight';
}
@font-face{
src:url('../font/ProximaNova-Reg.eot#iefix') format('embedded-opentype');
src:url('../fonts/ProximaNova-Reg.woff') format('woff'), url('../fonts/ProximaNova-Reg.woff2') format('woff2');
font-family:'ProximaNovaRegular';
}

@mixin property1($prop,$val){
#{$prop}:#{$val};
-webkit-#{$prop}:#{$val};
-moz-#{$prop}:#{$val};
-ms-#{$prop}:#{$val};
-o-#{$prop}:#{$val};
}

.container{
height:100%;
width:100%;
background:#4C76CE;
@include property1(perspective,'800px');
}
.wrapper{
position:relative;
padding-top:18%;
text-align:center;
font-size:36px;
font-family:'ProximaNovaLight';
color:#fff;

@include property1(transition,'all .8s ease 0s');
}
select{
margin:0px 12px;
display:none;
color:#b14943;
border-bottom:1px dashed #b14943;
line-height:inherit;
}
input[type="text"]:not(.field_list_input_item){
display:none;
}
.toggle_field{
color:rgba(0,0,0,.89);
border-bottom:2px dashed rgba(0,0,0,.87);
display:inline-block;
cursor:pointer;
}
.collegeink_search_overlay{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
opacity:0;
visibility:hidden;
z-index:9999;
background:rgba(0,0,0,.21);
-webkit-transition:all .3s;
}
.nlp_field{
position:fixed;
top:33%;
left:33%;
background:rgb(31,169,222);
border-radius:2px;
opacity:0;
pointer-events:none;

@include property1(transform,'translateY(20%) scale(.4)');
@include property1(transition,'all .25s ease 0s');
}
.nlp_field ul{
list-style-type:none;
width:100%;
overflow:hidden;
}
.nlp_field ul li{
position:relative;
padding:10px;
padding-left:19px;
padding-right:44px;
font-size:20px;
color:#fff;
width:100%;
cursor:pointer;
font-family:'ProximaNovaLight';
overflow:hidden;
}
.input_field ul li{
padding:0px;
}
.input_field ul li{
}
.field_list_input_item{
height:100%;
width:72%;
margin:0px;
padding:24px 14px;
height:24px;
font-family:'ProximaNovaLight';
font-size:16px;
}
.input_field{
border:none;
}
.input_submit_button{
height:52px;
width:28%;
display:inline-block;
background:#2ecc71;
border:none;
color:#fff;
font-family:'ProximaNovaLight';
font-size:16px;
}
li.field_checked{
color:rgba(0,0,0,.78);
}
li.field_checked:after{
position:absolute;
top:32%;
right:30%;
padding-right:11px;
font-family:'nlp';
content:'\e803';
font-size:17px;
}
.dropdown_wrapper{
}
.nlp_field.field_open{
opacity:1;
pointer-events:auto;
z-index:100000;
@include property1(transform,'translateY(0%) scale(1)');

}
.input_field .input_field_example{
font-size:17px;
height:23px;
padding:12px;
font-family:'ProximaNovaLight';
}
.input_field .input_field_example{

}

@-webkit-keyframes show_list{
0%{

}
100%{
opacity:1;
-webkit-transform:translateX(0px);
}
}

@-webkit-keyframes hide_list{
0%{

}
100%{
opacity:0;
-webkit-transform:translateX(-90px);
}
}

.show_list{
-webkit-animation:show_list .3s ease forwards;
}

.hide_list{
-webkit-animation:hide_list .3s ease forwards;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin:12% auto;
  opacity:0;
  pointer-events:none;
@include property1(transition,'all .25s ease 0s');
}
.spinner.show{
opacity:1;
pointer-events:auto;
}
.spinner.hide{
margin-top:5%;
opacity:0;
pointer-events:none;
@include property1(transition,'all .3s ease 0s');
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



.wrapper.searching{
padding-top:5%;
font-size:28px;
}
.search_results{

}